*{

}

body, #content-block{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
#content-block{
    width: 95%;
    height: auto;
}


#group-block{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-flow: column nowrap;
}
#group-block>div{
    width: 80%;
    height: auto;
    margin-top: 15px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}#group-block>p{
    font-size: 30px;
    font-weight: 600;
    color: #22B5B5;
    text-decoration: underline;
}

.personne{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}.personne>img{
    width: 20vw;
    height: 40vh;
}



#recap-subjet{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: column nowrap;
}
#recap-subjet>p{
    font-size: 30px;
    font-weight: 600;
    color: #22B5B5;
    text-decoration: underline;
}#recap-subjet>div{
    width: 80%;
    height: auto;
    margin-top: 15px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-self: center;
    font-size: 20px;
}

#contraintes{
    width: 100%;
    height: auto;
    margin-top: 15px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;   
}.liste{
    width: 50%;
    height: auto;
}.liste>ul{
    margin-top: 5px;
    margin-left: 20%;
}.liste>p{
    text-decoration: underline;
}